<h1>Restaurant Details</h1>
<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>
<br>

<h3>Reviews</h3>

<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
      <%= review.content %>
      <%= review.rating %>
    </li>
  <% end %>
</ul>

<%= link_to "Back to Restaurants", restaurants_path %>
<%= link_to "Leave a review", new_restaurant_review_path(@restaurant) %>