<div class="jumbotron">
  <h1 class="display-4"><%= @restaurant.name %></h1>
  <p class="lead"><%= @restaurant.address %></p>
  <hr class="my-4">
  <p class="lead"><%= @restaurant.category.capitalize %>
     <span><i></i></span><%= @restaurant.phone_number %></p>
  <%= link_to "Back to Restaurants", restaurants_path, class: "btn btn-primary btn-lg" %>
  <%= link_to "Leave a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary btn-lg" %>
</div>


<h3>Reviews</h3>

<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
      <%= review.content %>
      <%= review.rating %>
    </li>
  <% end %>
</ul>
